.list{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 500px;
    border: solid 5px var(--reddish);
    box-shadow: 0 0 0 8px var(--blue);
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px;
    position: relative;
    &Heading{
      text-align: center;
      padding: 30px;
      font-size: 3rem;
      text-transform: uppercase;
    }
    &Lines{
      margin: 0 20px;
    }
    &Img{
      &Fox{
        width: 120px;
        position: absolute;
        bottom: -40px;
        right: -50px;
        z-index: 1;
      }
      &Tree{
        width: 180px;
        position: absolute;
        bottom: -30px;
        right: -80px;
        z-index: 0;
      }
      &Leaves{
        width: 200px;
        position: absolute;
        top: -60px;
        left: -50px;
        z-index: 0;
      }
    }
  }